<ion-view ng-init="init()">
  <div class="bar bar-header bar-stable" style="height: 73px;">
    <a ng-href="/#/tab/lista-item" style="z-index: 999; color: black;">
      <div style="position: absolute; font-size: 22px; top: 40px; left: 5px;text-align: center; width: 30px; height: 25px;">
        <i class="icon ion-chevron-left"></i>
      </div>
    </a>
    <h1 class="title" style="margin-top: 27px;">Adicionar Item</h1>
  </div>
  <ion-content>
    <div style="height: 72px;">

    </div>
    <form name="addForm" ng-submit="addItem()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Descrição</span>
          <input name="item" type="text" placeholder="Hambúrguer" ng-model="data.item" required>
          <span ng-class="error" ng-show="addForm.item.$error.required"></span>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Preço</span>
          <input type="text" name="preco" ng-model="data.preco" placeholder="R$2,99">
        </label>

        <!-- <label class="item item-input item-stacked-label">
          <span class="input-label">Data</span>
          <input type="date" name="date" placeholder="dd/mm/aaaa" ng-model="data.data" required>
          <span ng-class="error" ng-show="addForm.date.$error.required"></span>
        </label> -->

        <label class="item item-input item-stacked-label">
          <span class="input-label">Localização</span>
          <input maxlength="15" type="text" name="localizacao" placeholder="Norte Shopping" ng-model="data.localizacao" required>
          <span ng-class="error" ng-show="addForm.localizacao.$error.required"></span>
        </label>

        <label class="item item-input item-select" ng-click="showConfirm()">
          <div class="input-label">
            Tipo de gasto
          </div>
          <select name="tipo" ng-model="data.gasto" required>
            <option selected>Comida</option>
            <option>Cinema</option>
            <option>Lanche</option>
            <option>Música</option>
            <option>Esportes</option>
            <option>Jogos</option>
            <option>Livros</option>
            <option>Cerveja</option>
          </select>
          <div ng-show="data.gasto == 'Comida'">
            <i class="icon ion-pizza" style="font-size: 20px;"></i>
          </div>
          <div ng-show="data.gasto == 'Cinema'">
            <i class="icon ion-ios-videocam" style="font-size: 20px;"></i>
          </div>
          <div ng-show="data.gasto == 'Jogos'">
            <i class="icon ion-ios-game-controller-a" style="font-size: 20px;"></i>
          </div>
          <div ng-show="data.gasto == 'Livros'">
            <i class="icon ion-ios-book" style="font-size: 20px;"></i>
          </div>
          <div ng-show="data.gasto == 'Cerveja'">
            <i class="icon ion-beer" style="font-size: 20px;"></i>
          </div>
          <div ng-show="data.gasto == 'Esportes'">
            <i class="icon ion-ios-football" style="font-size: 20px;"></i>
          </div>
          <div ng-show="data.gasto == 'Música'">
            <i class="icon ion-headphone" style="font-size: 20px;"></i>
          </div>
          <div ng-show="data.gasto == 'Lanche'">
            <i class="icon ion-coffee" style="font-size: 20px;"></i>
          </div>
          <span ng-class="error" ng-show="addForm.tipo.$error.required"></span>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Cor do item
          </div>
          <select name="cor" ng-model="data.cor" required>
            <option selected>Roxo</option>
            <option>Vermelho</option>
            <option>Verde</option>
            <option>Laranja</option>
            <option>Azul</option>
          </select>
          <div ng-show="data.cor == 'Roxo'">
            <i class="icon ion-ios-circle-filled" style="color:#8e44ad;font-size: 22px;"></i>
          </div>
          <div ng-show="data.cor == 'Vermelho'">
            <i class="icon ion-ios-circle-filled" style="color:#c0392b;font-size: 22px;"></i>
          </div>
          <div ng-show="data.cor == 'Verde'">
            <i class="icon ion-ios-circle-filled" style="color:#27ae60;font-size: 22px;"></i>
          </div>
          <div ng-show="data.cor == 'Laranja'">
            <i class="icon ion-ios-circle-filled" style="color:#f39c12;font-size: 22px;"></i>
          </div>
          <div ng-show="data.cor == 'Azul'">
            <i class="icon ion-ios-circle-filled" style="color:#2980b9;font-size: 22px;"></i>
          </div>
          <span ng-class="error" ng-show="addForm.cor.$error.required"></span>
        </label>
        <li class="item item-toggle">
          Fixar item
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="data.itemFixo">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <!-- 
        <label class="item item-input">
          <textarea placeholder="Comentários" style="height: 100px;"></textarea>
        </label> -->

      </div>
      <div style="width: 90%; margin: 0 auto;">
        <button class="button button-block button-positive" style="background-color: #387ef5 !important;" ng-disabled="addForm.item.$invalid || addForm.preco.$invalid || addForm.date.$invalid || addForm.localizacao.$invalid || addForm.tipo.$invalid || addForm.cor.$invalid ">
          Adicionar
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>