<ion-view ng-init="init()">
  <div class="bar bar-header bar-stable" ng-class="{'ajuste-header-android': platform == 'android'}" style="height: 73px;">
    <a style="z-index: 999; color: black;" ng-href="/#!/listaRelatorios">
      <div ng-click="openModal()" ng-class="{'ajuste-icon-modal-android' : platform == 'android'}" style="position: absolute; font-size: 25px; top: 34px; left: 10px;text-align: center; width: 30px; height: 25px;">
        <i class="icon ion-clipboard"></i>
      </div>
    </a>
    <h1 class="title" style="margin-top: 27px;" ng-class="{'ajuste-title-android': platform == 'android'}">Estatísticas</h1>
    <a style="z-index: 999; color: black;" ng-click="showPopup()">
      <div ng-click="openModal()" ng-class="{'ajuste-icon-modal-android' : platform == 'android'}" style="position: absolute; font-size: 37px; top: 32px; right: 10px;text-align: center; width: 30px; height: 25px;">
        <i class="icon ion-ios-plus-empty"></i>
      </div>
    </a>
  </div>
  <ion-content>
    <div style="height: 71px;" ng-class="{'div-sumir' : platform == 'android'}">

    </div>
    <ion-list>
      <div class="list" style="margin-bottom: 0;">
        <div class="item item-divider" style="font-size: 13px; background-color: rgb(237, 237, 237)">
          ESTATÍSTICAS GERAIS
        </div>
      </div>
      <div class="GERAL">
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 16px; background-color: #f9f9f9;">
          TOTAL DE ITENS ADICIONADOS
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{lista.length}}
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 16px; background-color: #f9f9f9;">
          TOTAL DE ITENS FIXADOS
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{listaFixa.length}}
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 16px; background-color: #f9f9f9;">
          TOTAL DE ITENS
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{lista.length + listaFixa.length}}
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 16px; background-color: #f9f9f9;">
          PREÇO DE ITENS FIXADOS
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{somarFixados() | currency:"R$"}}
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 16px; background-color: #f9f9f9;">
          PREÇO DE ITENS ADICIONADOS
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{somarAdc() | currency:"R$"}}
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 16px; background-color: #f9f9f9;">
          PREÇO TOTAL
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{precoTotalSomado() | currency:"R$"}}
          </div>
        </ion-item>
      </div>



      <!-- CARTÃO -->
      <div class="list" style="margin-bottom: 0;">
        <div class="item item-divider" style="font-size: 13px; border-bottom: 0px; background-color: rgb(237, 237, 237)">
          ESTATÍSTICAS DO CARTÃO
        </div>
      </div>
      <div class="list" style="margin-bottom: 0;">
        <div class="item item-divider" style="font-size: 13px; padding-left: 35px; background-color: rgb(237, 237, 237)">
          GERAL
        </div>
      </div>
      <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
        QUANTIDADE DE CARTÕES
        <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
          {{listaCartao.length}}
        </div>
      </ion-item>
      <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
        COMPRAS USANDO CARTÃO
        <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
          {{contagemItensCartao}}
        </div>
      </ion-item>
      <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
        PREÇO TOTAL
        <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
          {{contagemPrecoTotalCartao | currency}}
        </div>
      </ion-item>

      <!-- itensCartao -->

      <div ng-repeat="item in listaCartaoEstatistica">
        <div class="list" style="margin-bottom: 0;">
          <div class="item item-divider" style="font-size: 13px; padding-left: 35px; background-color: rgb(237, 237, 237); height: 38px !important;">
            <i class="icon ion-card" style="height: 20px;font-size: 18px; top: 50%; position: absolute; transform: translate(0%, -50%); color: {{item.corCartaoItem}}">
              <span style="font-size: 13px; top: 50%; position: absolute; transform: translate(0%, -50%); left: 22px;">{{item.nomeCartao | uppercase}}</span>
            </i>
          </div>
        </div>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS ADICIONADOS
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.contagemItem}}
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS FIXADOS
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.contagemItemFixo}}
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          COMPRAS UTILIZANDO ESTE CARTÃO
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.contagemItemFixo + item.contagemItem}}
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          PORCENTAGEM DE USO
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.porcentagemPrecoTotal | number:"2"}}%
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          FATURA
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.fatura | currency}}
          </div>
        </ion-item>
      </div>

      <!-- CATEGORIA DOS ITENS -->
      <!-- <div ng-if="ListarStatsCor != '' && ListarStatsCategorias != ''" class="list" style="margin-bottom: 0;">
        <div class="item item-divider" style="font-size: 13px; border-bottom: 0px; background-color: rgb(237, 237, 237)">
          CATEGORIA DOS ITENS
        </div>
      </div>
      <div ng-repeat="item in ListarStatsCategorias">
        <div class="list" style="margin-bottom: 0;">
          <div class="item item-divider" style="font-size: 13px; padding-left: 35px; background-color: rgb(237, 237, 237)">
            {{item.categoria | uppercase}}
          </div>
        </div>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS ADICIONADOS
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.itensAdicionados}}
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS FIXADOS
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.itensFixados}}
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          TOTAL DE ITENS
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.totalDeItens}}
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          PORCENTAGEM DE ITENS TOTAL
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.porcentoItens | number:"2"}}%
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          PORCENTAGEM DO PREÇO TOTAL
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.porcentoPreco| number:"2"}}%
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          PREÇO TOTAL
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.precoTotal | currency:"R$"}}
          </div>
        </ion-item> -->


        <!--COR DOS ITENS -->
      <!-- </div>
      <div ng-if="ListarStatsCor != '' && ListarStatsCategorias != ''" class="list" style="margin-bottom: 0;">
        <div class="item item-divider" style="font-size: 13px; background-color: rgb(237, 237, 237); border-bottom: 0px;">
          COR DOS ITENS
        </div>
      </div>
      <div class="COR" ng-repeat="item in ListarStatsCor">
        <div class="list" style="margin-bottom: 0;border-left: 6px solid {{item.cor}};">
          <div class="item item-divider" style="font-size: 13px; padding-left: 29px; background-color: rgb(237, 237, 237);color: {{item.cor}}">
            {{item.corDigitada | uppercase}}
          </div>
        </div>
        <ion-item ng-if="item.contagemTipoLazer != 0" style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS TIPO LAZER
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.contagemTipoLazer}}
          </div>
        </ion-item>
        <ion-item ng-if="item.contagemTipoLazer != 0" style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS TIPO TRANSPORTE
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.contagemTipoTransporte}}
          </div>
        </ion-item>
        <ion-item ng-if="item.contagemTipoLanche != 0" style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS TIPO LANCHE
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.contagemTipoLanche}}
          </div>
        </ion-item>
        <ion-item ng-if="item.contagemTipoRestaurante != 0" style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS TIPO RESTAURANTE
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.contagemTipoRestaurante}}
          </div>
        </ion-item>
        <ion-item ng-if="item.contagemTipoCinema != 0" style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS TIPO CINEMA
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.contagemTipoCinema}}
          </div>
        </ion-item>
        <ion-item ng-if="item.contagemTipoRoupa != 0" style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS TIPO ROUPA
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.contagemTipoRoupa}}
          </div>
        </ion-item>
        <ion-item ng-if="item.contagemTipoInfantil != 0" style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS TIPO INFANTIL
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.contagemTipoInfantil}}
          </div>
        </ion-item>
        <ion-item ng-if="item.contagemTipoPresente != 0" style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS TIPO PRESENTE
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.contagemTipoPresente}}
          </div>
        </ion-item>
        <ion-item ng-if="item.contagemTipoEssencial != 0" style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS TIPO ESSENCIAL
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.contagemTipoEssencial}}
          </div>
        </ion-item>
        <ion-item ng-if="item.contagemTipoUtilitarios != 0" style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS TIPO UTILITÁRIOS
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.contagemTipoUtilitarios}}
          </div>
        </ion-item>
        <ion-item ng-if="item.contagemTipoMercado != 0" style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS TIPO MERCADO
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.contagemTipoMercado}}
          </div>
        </ion-item>
        <ion-item ng-if="item.contagemTipoCafe != 0" style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS TIPO CAFÉ
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.contagemTipoCafe}}
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS ADICIONADOS
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.itensAdicionados}}
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          ITENS FIXADOS
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.itensFixados}}
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          TOTAL DE ITENS
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.totalDeItens}}
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          PORCENTAGEM DE ITENS TOTAL
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.porcentoItens | number:"2"}}%
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          PORCENTAGEM DO PREÇO TOTAL
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.porcentoPreco | number:"2"}}%
          </div>
        </ion-item>
        <ion-item style="color:rgb(119, 119, 119);font-size: 12px;padding: 10px; padding-left: 35px; background-color: #f9f9f9;">
          PREÇO TOTAL
          <div style="color: black;font-size: 15px;position: absolute; right: 0;height: 40px;top: 0; padding: 10px;">
            {{item.precoTotal | currency:"R$"}}
          </div>
        </ion-item>
      </div> -->
    </ion-list>
  </ion-content>
</ion-view>