<ion-view view-title="Paybook" ng-init="init()">
  <ion-content class="platform-ios">
      <div style="height: 50px;">

      </div>
    <ion-refresher pulling-text="Puxe e solte para atualizar..." on-refresh="atualizarLista()">
    </ion-refresher>
    <div ng-if="lista == ''" style="text-align: center; margin-top: 30px; color: rgb(156, 155, 155);">
      Não tem nenhum gasto.
    </div>
    <ul>
      <li ng-repeat="item in lista">
        <div id="{{item.id}}" ng-click="abrirComentario()" class="card-item animated flipInX" style="border-left: 5px solid {{item.cor}};">
          <div class="row" style="margin: 0;padding: 0;height: 100%;">
            <div class="col col-33 info color" style="background-color: {{item.cor}};">
              <div class="gasto">
                R${{item.preco}}
              </div>
              <div class="tempo">
                <div class="hora" style="margin-top: -5px;">{{item.hora | date:'HH:mm'}}</div>
                <div class="dia" style="margin-top: 5px;">{{item.dia | date:'dd/MM/yy'}}</div>
              </div>
            </div>
            <div class="col col-75 descricao">
              <div class="btn-delete" style="position: absolute;" ng-click="deleteItem($index)">
                <i class="icon ion-close-circled" style="font-size: 20px;"></i>
              </div>
              <div class="titulo-descricao">
                <i class="icon {{item.gastoConv}}" style="font-size: 20px;"></i>
                <span class="titulo">{{item.item}}</span>
              </div>
              <div class="tipo">
                TIPO: {{item.gasto | uppercase}}
              </div>
              <div class="localizacao">
                <i class="icon ion-location" style="font-size: 20px;"></i>
                <span class="localizacao-endereco">{{item.localizacao}}</span>
              </div>
            </div>
          </div>
          <div id="comentario">
            <div class="comentario">
              Lorem Ipsum
            </div>
          </div>
        </div>
      </li>
    </ul>
  </ion-content>
  <div class="status-total-pagar bar-stable">
    <span class="animated fadeIn" style="font-size: 11px">TOTAL: </span><span class="animated fadeIn" ng-bind="sum()" style="font-weight: bold;"></span>
  </div>
  <a ng-href="/#/add-item"><div class="btn-add">
    <i class="icon ion-plus-round" style="font-size: 25px;"></i>
  </div></a>
  <!-- <div class="status-mes-passado bar-stable">
    <span style="font-size: 11px">MES PASSADO:</span> R$ 1024,99
  </div> -->
</ion-view>