<ion-view ng-init="init()" ng-cloak>
  <div class="bar bar-header bar-stable" ng-class="{'ajuste-header-android': platform == 'android'}" style="height: 73px;">
    <a ng-href="/#!/add-cartao" style="z-index: 999; color: black;">
      <div ng-class="{'ajuste-icon-modal-android' : platform == 'android'}" style="position: absolute; font-size: 22px; top: 40px; left: 10px;text-align: center; width: 30px; height: 25px;">
        <div style="position: absolute; top: -4px;left: 14px;width: 32px;border-radius: 25px;height: 13px; background: linear-gradient(to right, red 0%,rgb(228, 10, 10) 100%);font-size: 8px;">
          <span style="position: absolute; top: -3px; left: 3.3px; color: white;">NOVO!</span>
        </div>
        <i class="icon ion-card"></i>
      </div>
    </a>
    <h1 class="title" style="margin-top: 27px;" ng-class="{'ajuste-title-android': platform == 'android'}">Paybook</h1>
    <a style="z-index: 999; color: black;">
      <div ng-click="openModal()" ng-class="{'ajuste-icon-modal-android' : platform == 'android'}" style="position: absolute; font-size: 22px; top: 40px; right: 10px;text-align: center; width: 30px; height: 25px;">
        <i class="icon ion-search"></i>
      </div>
    </a>
  </div>
  <ion-content class="platform-ios" overflow-scroll="true">
    <div style="height: 75px;" ng-class="{'div-sumir' : platform == 'android'}">

    </div>
    <ion-refresher ng-if="refresher" pulling-text="Puxe e solte para atualizar..." on-refresh="atualizarLista()" ng-class="{'scroll-refresher-android' : platform == 'android'}">
    </ion-refresher>
    <!-- <div style="position: relative;width: 90%; margin: 5px auto; border-bottom: 1px solid #e0e0e0; margin-bottom: 0px;">
      <div style="width: 135px; font-size: 12px;letter-spacing:2px; padding-bottom: 5px;">
        ITENS FIXADOS
      </div>
      <div style="position: absolute;top: 32%;transform: translate( 0,-50%);right: 7.4px;">
        <div class="btnLimparFixo">
          <i class="icon  ion-ios-close-empty" id="xFixo" style="font-size: 21px; top: 50%; transform: translate(-45%, -44%); left: 50%; position: absolute; margin-top: -1px;"></i>
          <div class="btnSumirFixo" style="font-size: 11px; letter-spacing:1px;" id="limparFixo" ng-click="limparListaFixa()">LIMPAR</div>
        </div>
      </div>
    </div> -->
    <div style="position: relative;width: 95%; margin: 10px auto; margin-bottom: -6px;">
        <div style="width: 165px;letter-spacing:2px; font-size: 12px; padding-bottom: 5px; font-weight: bold">
          ITENS FIXADOS
        </div>
        <div style="position: absolute;top: 32%;transform: translate( 0,-50%);right: 0;">
          <div class="btnLimparFixo">
            <i class="icon ion-ios-close-empty" id="xFixo" style="font-size: 21px; top: 50%; transform: translate(-45%, -44%); left: 50%; position: absolute; margin-top: -1px;"></i>
            <div class="btnSumirFixo" style="font-size: 11px; letter-spacing:1px;" id="limparFixo" ng-click="limparListaFixa()">LIMPAR</div>
          </div>
        </div>
      </div>
    <div ng-if="listaFixa == ''" style="text-align: center; margin-top: 15px; color: rgb(156, 155, 155);margin-bottom: 20px;">
      Não tem nenhum item fixado.
    </div>
    <div ng-if="listaFixa != ''" class="slider-wrapper card-slider-fixo">
      <div class="slider-content">
        <div class="card-slider" ng-repeat="item in listaFixa track by item.id" my-touchstart="touchStart()" my-touchend="touchEnd()">
          <div class="cardFixo animated flipInX" style="box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);">
            <div class="topoCardFixo">
              <div style="position: absolute; height: 100%; width: 100%; background: URL('img/{{item.gastoConvPic}}') no-repeat center; background-size: cover;">
                <div style="position: absolute; height: 100%; width: 100%;background: linear-gradient(135deg, {{item.corConv}} 0%, {{item.corConv}} 15%, rgba(0,0,0,0.5) 100%);"></div>
              </div>
              <div class="precoFixo">
                {{item.preco | currency:"R$"}}
              </div>
              <div class="tipoPagamentoFixo">
                <i ng-if="listaFixa[$index].itemCartao == true" class="icon ion-card" style="position: absolute;top: -2px;font-size: 14px;"></i>
                <span ng-if="listaFixa[$index].itemCartao == true" style="position: absolute; top:50%; transform: translate(0%, -50%); left: 20px;">{{item.cartao | uppercase}}</span>
                
                <i ng-if="listaFixa[$index].itemCartao == false" class="icon ion-cash" style="font-size: 14px"></i>
                <span ng-if="listaFixa[$index].itemCartao == false" style="position: absolute; left: 20px;">DINHEIRO</span>
              </div>
              <div class="btn-delete close" style="position: absolute;top: 4px;" ng-click="deletarItemLista(listaFixa[$index], listaFixa,listaExcluir)">
                <i class="icon ion-close-circled" style="font-size: 20px;"></i>
              </div>
            </div>
            <div class="infoCardFixo">
              <div class="tituloCardFixoBorder">
                <div class="tituloCardFixo" style="border: 1px solid {{item.corConv}};">
                  {{item.item}}
                </div>
              </div>

              <div class="listaCardFixa">
                <i class="icon ion-location" style="font-size: 20px;"></i>
                <span style="left: 30px; top: 50%; transform: translate(0%, -50%); position: absolute;">{{item.localizacao}}</span>
              </div>

              <div class="listaCardFixa" style="padding-left: 8px;">
                <img ng-src="../../img/icon/{{item.gastoConv}}" style="height: 15px;margin-left: 0px;">
                <span style="left: 30px; top: 50%; transform: translate(0%, -50%); position: absolute;">{{item.gasto}}</span>
              </div>

              <div class="listaCardFixa">
                <i class="icon ion-ios-calendar"></i>
                <span style="left: 30px; top: 50%; transform: translate(0%, -50%); position: absolute;">{{item.dia | date:'dd/MM/yy'}}</span>
              </div>

              <div class="listaCardFixa">
                <i class="icon ion-ios-clock"></i>
                <span style="left: 30px; top: 50%; transform: translate(0%, -50%); position: absolute;">{{item.hora | date:'HH:mm'}}</span>
              </div>

              <div style="transform: rotate(40deg);top: 86px;right: 7px;font-size: 17px;position: absolute;width: 20px; height: 20px;text-align: center;"
                ng-click="desfixarItem(listaFixa[$index], listaFixa,lista)">
                <i class="icon ion-pin"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="position: relative;width: 95%; margin: -10px auto; margin-bottom: 15px;">
      <div style="width: 165px;letter-spacing:2px; font-size: 12px; padding-bottom: 5px; font-weight: bold">
        ITENS ADICIONADOS
      </div>
      <div style="position: absolute;top: 32%;transform: translate( 0,-50%);right: 0;">
        <div class="btnLimpar">
          <i class="icon ion-ios-close-empty" id="x" style="font-size: 21px; top: 50%; transform: translate(-45%, -44%); left: 50%; position: absolute; margin-top: -1px;"></i>
          <div class="btnSumir" style="font-size: 11px; letter-spacing:1px;" id="limpar" ng-click="limparLista()">LIMPAR</div>
        </div>
      </div>
    </div>
    <div ng-if="lista == ''" style="text-align: center; margin-top: 15px; color: rgb(156, 155, 155);">
      Não tem nenhum item adicionado.
    </div>
    <div class="cardAdd animated fadeInRight" ng-repeat="item in lista track by item.id">
      <div class="cardColor" style="background-color: {{item.corConv}}">
        <div style="position: absolute; height: 100%; width: 100%; background: URL('img/{{item.gastoConvPic}}') no-repeat center; background-size: cover;">
          <div style="position: absolute; height: 100%; width: 100%;background: linear-gradient(135deg, {{item.corConv}} 0%, {{item.corConv}} 25%, rgba(0,0,0,0.2) 100%);"></div>
        </div>
        <div class="precoItem">
          {{item.preco | currency:"R$"}}
        </div>
        <div class="tipoPagamento">
          <i ng-if="lista[$index].itemCartao == true" class="icon ion-card" style="font-size: 14px;"></i>
          <span ng-if="lista[$index].itemCartao == true" style="position: absolute; top:50%; transform: translate(0%, -50%); left: 30px;">{{item.cartao | uppercase}}</span>
          <i ng-if="lista[$index].itemCartao == false" class="icon ion-cash" style="font-size: 14px"></i>
          <span ng-if="lista[$index].itemCartao == false" style="position: absolute; top:50%; transform: translate(0%, -50%); left: 30px;">DINHEIRO</span>
          <!-- <i class="icon ion-card"></i>
          <span style="margin-left: 5px; position: absolute; top: -0.5px;">NUBANK</span> -->
        </div>
        <div class="horaItem">
          {{item.hora | date:'HH:mm'}}
        </div>
        <div class="diaItem">
          {{item.dia | date:'dd/MM/yy'}}
        </div>
      </div>
      <div class="cardInfo">
        <div class="cardTitulo">
          <img ng-src="../../img/icon/{{item.gastoConv}}" style="height: 16px;width: 16px">
          <span style="margin-left: 5px; position: absolute; top: -0.5px;">{{item.item}}</span>
        </div>

        <div class="btn-delete close" style="position: absolute;" ng-click="deletarItemLista(lista[$index], lista,listaExcluir)">
          <i class="icon ion-close-circled" style="font-size: 20px;"></i>
        </div>

        <div class="classificacao" ng-class="{'ativoClass' : ativoClass === item}" ng-click="ativo(item)">
          <div class="classificacaoSel">
            <img src="img/icon/classifique.png" ng-if="item.classificacao == 'nenhuma'">
            <img src="img/icon/like.png" ng-if="item.classificacao == 'positivo'">
            <img src="img/icon/dislike.png" ng-if="item.classificacao == 'negativo'">
          </div>

          <div class="classOpt" ng-class="{'esconder' : ativoClass == item}"><img src="img/icon/like.png" ng-if="item.classificacao != 'positivo'" ng-click="classificar($index, 'positivo')"><img src="img/icon/classifique.png" ng-if="item.classificacao == 'positivo'" ng-click="classificar($index, 'nenhuma')"><img src="img/icon/dislike.png" ng-if="item.classificacao != 'negativo'" ng-click="classificar($index, 'negativo')"><img src="img/icon/classifique.png" ng-if="item.classificacao == 'negativo'" ng-click="classificar($index, 'nenhuma')">
          </div>

          <!-- <div style="width: 100%; height: 100%; position: absolute; background-color:red;z-index: 9"></div> -->
        </div>




        <div class="cardTipoPagamento">
          TIPO: {{item.gasto | uppercase}}
        </div>

        <div class="cardLocal">
          <i class="icon ion-location"></i>
          <span style="margin-left: 5px; position: absolute; top: -0.5px;">{{item.localizacao}}</span>
        </div>
        <div style="position: absolute; right: 0px; bottom: 2px; font-size: 20px; width: 25px; height: 25px; text-align: center;"
          ng-click="fixarItem(lista[$index], lista,listaFixa)">
          <i class="icon ion-pin"></i>
        </div>
      </div>
    </div>



    <!-- <div ng-repeat="item in lista track by item.id">
      <div id="{{item.id}}" class="card-item animated flipInX fadeOut" style="border-left: 5px solid {{item.corConv}};">
        <div class="row" style="margin: 0;padding: 0;height: 100%;">
          <div class="col col-33 info color" style="position:relative;background-color: {{item.corConv}};" ng-click="setActive(item)">
            <div class="gasto" style="white-space: nowrap; overflow: hidden;">
              {{item.preco | currency:"R$"}}
              <div style="position: absolute; left: 5px; top: 23px; font-size: 10px; opacity: 0.6">
                <i ng-if="lista[$index].itemCartao == true" class="icon ion-card" style="font-size: 14px;"></i>
                <span ng-if="lista[$index].itemCartao == true" style="position: absolute; top:50%; transform: translate(0%, -50%); left: 17px;">{{item.cartao | uppercase}}</span>
                <i ng-if="lista[$index].itemCartao == false" class="icon ion-cash" style="font-size: 14px"></i>
                <span ng-if="lista[$index].itemCartao == false" style="position: absolute; top:50%; transform: translate(0%, -50%); left: 17px;">DINHEIRO</span>
              </div>
            </div>
            <div class="tempo" style="position: relative;">
              <div class="hora" style="margin-top: -5px;">{{item.hora | date:'HH:mm'}}</div>
              <div class="dia" style="margin-top: 5px;">{{item.dia | date:'dd/MM/yy'}}</div>
              <div style="position: absolute;right: 0px; top: 18px; width: 20px; height: 20px; text-align: center;">
                <i class="icon ion-chevron-right" style="font-size: 18px;"></i>
              </div>
            </div>
          </div>
          <div class="col col-75 descricao">
            <div class="btn-delete close" style="position: absolute;" ng-click="deletarItemLista(lista[$index], lista,listaExcluir)">
              <i class="icon ion-close-circled" style="font-size: 20px;"></i>
            </div>
            <div class="titulo-descricao">
              <div style="position: absolute; margin-top: 1px;">
                <img ng-src="../../img/icon/{{item.gastoConv}}" style="height: 16px;width: 16px">
              </div>
              <span class="titulo" style="margin-left: 20px;">{{item.item}}</span>
            </div>
            <div class="tipo">
              TIPO: {{item.gasto | uppercase}}
            </div>
            <div class="localizacao">
              <i class="icon ion-location" style="font-size: 20px;"></i>
              <span class="localizacao-endereco">{{item.localizacao}}</span>
            </div>
            <div style="position: absolute; right: 4px; top: 65px; font-size: 25px;width: 25px; height: 30px;text-align: center;" ng-click="fixarItem(lista[$index], lista,listaFixa)">
              <i class="icon ion-pin"></i>
            </div>
          </div>
        </div>


        <div class="detalhes" style="background-color: {{item.corConv}}" ng-class="{'detalhes-click' : activeCard === item}">
          <i class="icon ion-chevron-left" style="position: absolute; left: 0px; top: 4px; color: white; font-size: 17px;" ng-click="setDesactive()"></i>
          <div ng-click="setDesactive()" style="position: absolute; top: 5px; left: 18px; color: white; font-weight: 500;">DESCRIÇÃO</div>
          <div ng-class="{'descAct' : cartaoListaAbrir}" ng-click="setDesactive()" style="padding-left: 5px;transition: 1s;width: 100%;color: white; line-height: 14px;height: 60px; position: absolute;top: 35px; font-size: 11px;">
            {{item.descricao}}
            <div ng-if="item.descricao == '' || item.descricao == null" style="opacity: 0.8">
              Sem registro.
            </div>
          </div>
          <div ng-if="lista[$index].itemCartao == true" style="position: absolute; right: 0px; top: 0; width: 35vw; height: 100%">
            <div style="width: 100%;z-index: 999;position: absolute; right: 0; top: 4px; color: white;padding: 2px;transition: 0.25s; background-color: transparent;"
              ng-class="{'cartaoItem' : cartaoListaAbrir}" ng-click="abrirCartao()">
              <span style="position: absolute; right: 7px; font-weight: 500;">CARTÃO
                <i class="icon" style="margin-left: 5px;" ng-class="{'ion-chevron-up': cartaoListaAbrir, 'ion-chevron-down': !cartaoListaAbrir}"></i>
              </span>
            </div>

            <div ng-click="abrirCartao()" ng-class="{'cartaoDesc' : cartaoListaAbrir, 'cartaoDescOff' : !cartaoListaAbrir}" style="position: absolute; right:0; height: 0px; background-color: rgb(241, 241, 241); width: 100%;top: 0px;opacity: 0; border-top-right-radius: 5px; border-bottom-right-radius: 5px;overflow: hidden; box-shadow: -5px 0px 40px 0px rgba(0,0,0,0.75);">
              <div style=" top: 33px;position: absolute;height: 20px;width: 100%; font-size: 9px;">
                <span style="position: absolute; left: 3px;top: 1px; opacity: 0.5">CARTÃO</span>
                <span style="position: absolute; right: 3px; font-size: 12px;">{{item.cartao | uppercase}}</span>
              </div>
              <div style=" top: 55px;position: absolute;height: 20px;width: 100%; font-size: 9px;">
                <span style="position: absolute; left: 3px;top: 1px; opacity: 0.5">FINAL</span>
                <span style="position: absolute; right: 3px; font-size: 12px;">{{item.digitoCartao}}</span>
              </div>
              <div style=" top: 75px;position: absolute;height: 20px;width: 100%; font-size: 9px;">
                <span style="position: absolute; left: 3px;top: 1px; opacity: 0.5">BANDEIRA</span>
                <span style="position: absolute; right: 3px; font-size: 12px;">{{item.bandeiraCartao}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div style="height: 65px; width: 100%;">

    </div>
  </ion-content>
  <div class="bar-stable" ng-class="{'status-total-pagar-android': platform == 'android', 'status-total-pagar': platform != 'android'}">
    <span class="animated fadeIn" style="font-size: 11px">TOTAL: </span>
    <span class="animated fadeIn" style="font-weight: bold;">{{totalSoma | currency:"R$"}}</span>
  </div>
  <a ng-href="/#!/add-item">
    <div ng-class="{'btn-add-android': platform == 'android', 'btn-add': platform != 'android'}">
      <i class="icon ion-plus-round" style="font-size: 25px;"></i>
    </div>
  </a>
  <div>

  </div>
  <div class="status-desfazer-android bar-stable" ng-class="{'status-desfazer-animation-android' : listaExcluir != null && listaExcluir.length != 0}"
    ng-if="platform == 'android'">
    <div ng-if="listaExcluir[0].itemFixo == false" ng-click="clickDesfazerLista(listaExcluir[0], listaExcluir,lista)" style="position: absolute;top: 0px;font-size: 8px;transform: translate(-50%,0); left: 50%;overflow: hidden; width: 100%; ">
      {{listaExcluir.length}}
      <span ng-if="listaExcluir.length == 1">ITEM EXCLUÍDO</span>
      <span ng-if="listaExcluir.length > 1">ITENS EXCLUÍDOS</span>
    </div>
    <div ng-if="listaExcluir[0].itemFixo == true" ng-click="clickDesfazerListaFixa(listaExcluir[0], listaExcluir,listaFixa)"
      style="position: absolute;top: 0px;font-size: 8px;transform: translate(-50%,0); left: 50%;overflow: hidden; width: 100%; ">
      {{listaExcluir.length}}
      <span ng-if="listaExcluir.length == 1">ITEM EXCLUÍDO</span>
      <span ng-if="listaExcluir.length > 1">ITENS EXCLUÍDOS</span>
    </div>
    <div style="font-weight: bold;font-size: 13px;margin-top: 4px;" ng-if="listaExcluir[0].itemFixo == false" ng-click="clickDesfazerLista(listaExcluir[0], listaExcluir,lista)">DESFAZER</div>
    <div style="font-weight: bold;font-size: 13px;margin-top: 4px;" ng-if="listaExcluir[0].itemFixo == true" ng-click="clickDesfazerListaFixa(listaExcluir[0], listaExcluir,listaFixa)">DESFAZER</div>
    <i class="icon ion-ios-close-outline" ng-click="limparDesfazer()" style="font-size: 20px; right: 10px;position: absolute;transform: translate(0%, -50%);top: 50%;"></i>
  </div>

  <div class="status-desfazer bar-stable" ng-class="{'status-desfazer-animation' : listaExcluir != null && listaExcluir.length != 0}"
    ng-if="platform != 'android'">
    <div ng-if="listaExcluir[0].itemFixo == false" ng-click="clickDesfazerLista(listaExcluir[0], listaExcluir,lista)" style="position: absolute;top: 0px;font-size: 8px;transform: translate(-50%,0); left: 50%;overflow: hidden; width: 100%; ">
      {{listaExcluir.length}}
      <span ng-if="listaExcluir.length == 1">ITEM EXCLUÍDO</span>
      <span ng-if="listaExcluir.length > 1">ITENS EXCLUÍDOS</span>
    </div>
    <div ng-if="listaExcluir[0].itemFixo == true" ng-click="clickDesfazerListaFixa(listaExcluir[0], listaExcluir,listaFixa)"
      style="position: absolute;top: 0px;font-size: 8px;transform: translate(-50%,0); left: 50%;overflow: hidden; width: 100%; ">
      {{listaExcluir.length}}
      <span ng-if="listaExcluir.length == 1">ITEM EXCLUÍDO</span>
      <span ng-if="listaExcluir.length > 1">ITENS EXCLUÍDOS</span>
    </div>
    <div style="font-weight: bold;font-size: 13px;margin-top: 4px;" ng-if="listaExcluir[0].itemFixo == false" ng-click="clickDesfazerLista(listaExcluir[0], listaExcluir,lista)">DESFAZER</div>
    <div style="font-weight: bold;font-size: 13px;margin-top: 4px;" ng-if="listaExcluir[0].itemFixo == true" ng-click="clickDesfazerListaFixa(listaExcluir[0], listaExcluir,listaFixa)">DESFAZER</div>
    <div ng-click="limparDesfazer()" style="right: 0px;position: absolute;transform: translate(0%, -50%);height: 100%;top: 16px;width: 31px;">
      <i class="icon ion-ios-close-outline" style="font-size: 20px;transform: translate(-50%, -50%);top: 50%;position: absolute;left: 50%"></i>
    </div>
  </div>

  <script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header bar-stable" style="height: 73px;">
        <div  ng-click="closeModal()" style="position: absolute; font-size: 25px; top: 31px; left: 5px;text-align: center; width: 30px; height: 25px;">
          <i class="icon ion-ios-arrow-back"></i>
        </div>
        <div style="width: 100vw;">
            <div class="list list-inset" style="margin-left: 39px;">
                <label class="item item-input" style="padding: 0 0 0 11px !important;">
                  <i class="icon ion-search placeholder-icon"></i>
                  <input type="text" placeholder="Procurar" ng-model="procurar">
                </label>
            </div>
        </div>
      </div>
      <ion-content>
          <div style="height: 71px;">
      
          </div>
          <div ng-if="lista == '' && listaFixa == ''" style="text-align: center; margin-top: 30px; color: rgb(156, 155, 155);">
              Não tem nenhum item adicionado.
          </div>
          <div ng-if="listaFixa != ''" class="list" style="margin-bottom: 0;">
              <div class="item item-divider" style="font-size: 13px;">
                ITENS FIXADOS
              </div>
          </div>            
          <ion-list can-swipe="listCanSwipe">
              <ion-item ng-repeat="item in listaFixa | filter : procurar" style="position: relative;">
                  <div style="border-left: 7px solid {{item.corConv}}; height: 90px;padding: 5px 0 0 5px;background-color: #f8f8f8 !important;">
                      <div style="position: absolute;">
                        <span style="color: rgb(156, 155, 155); font-size: 11px;">ITEM: </span>
                      </div>
                      <div style="position: absolute;top: 35px;">
                        <span style="color: rgb(156, 155, 155); font-size: 11px;">PREÇO: </span>
                      </div>
                      <div style="position: absolute;top: 65px;">
                        <span style="color: rgb(156, 155, 155); font-size: 11px;">LOCAL: </span>
                      </div>
                      <div style="position: absolute; width: 52.5%; height: 80px;">
                        <div style="position: absolute; font-size: 13px; top: 1px; text-align: right; width: 168px; right: 0;">
                          <span style="font-weight: bold">{{item.item | uppercase}}</span>
                        </div>
                        <div style="position: absolute;top: 31px; font-size: 13px; text-align: right; width: 168px; right: 0;">
                          {{item.preco | currency:"R$"}}
                        </div>
                        <div style="position: absolute;top: 61px; font-size: 13px; text-align: right; width: 168px; right: 0;">
                          {{item.localizacao | uppercase}}
                        </div>
                      </div>
                    </div>
                    <div style="top: 4px;position: absolute;height: 80px; left: 58%;border-left: 1px solid #e4e4e4; padding-left: 5px;">
                      <div style="position: absolute;">
                        <span style="color: rgb(156, 155, 155); font-size: 11px;">DATA: </span>
                      </div>
                      <div style="position: absolute;top: 30px;">
                        <span style="color: rgb(156, 155, 155); font-size: 11px;">HORA: </span>
                      </div>
                      <div style="position: absolute;top: 60px;">
                        <span style="color: rgb(156, 155, 155); font-size: 11px;">TIPO: </span>
                      </div>
                    </div>
                      <span style="display: none;">{{item.cor}}</span>
                      <div style="top: 4px;position: absolute; width: 133px; height: 80px; right:5px">
                          <div style="position: absolute; font-size: 13px; top: 1px; text-align: right; width: 130px;">
                            {{item.dia | date:'dd/MM/yy'}}
                          </div>
                          <div style="position: absolute;top: 31px; font-size: 13px; text-align: right; width: 130px;">
                            {{item.hora | date:'HH:mm'}}
                          </div>
                          <div style="position: absolute;top: 61px; font-size: 13px; text-align: right; width: 130px;">
                            {{item.gasto | uppercase}}
                          </div>
                        </div>
                <ion-option-button class="button-info" ng-click="deleteItemFixado($index)">Excluir</ion-option-button>
                <ion-option-button class="button-fixed" ng-click="desfixarItem(listaFixa[$index], listaFixa,lista)">Desafixar</ion-option-button>
              </ion-item>
            </ion-list>
            <div ng-show="lista != ''" class="list" style="margin-bottom: 0;">
                <div class="item item-divider" style="font-size: 13px;">
                  ITENS ADICIONADOS
                </div>
            </div>
          <ion-list can-swipe="listCanSwipe">
              <ion-item ng-repeat="item in lista | filter : procurar" style="position: relative;">
                <div style="border-left: 7px solid {{item.corConv}}; height: 90px;padding: 5px 0 0 5px;background-color: #f8f8f8 !important;">
                  <div style="position: absolute;">
                    <span style="color: rgb(156, 155, 155); font-size: 11px;">ITEM: </span>
                  </div>
                  <div style="position: absolute;top: 35px;">
                    <span style="color: rgb(156, 155, 155); font-size: 11px;">PREÇO: </span>
                  </div>
                  <div style="position: absolute;top: 65px;">
                    <span style="color: rgb(156, 155, 155); font-size: 11px;">LOCAL: </span>
                  </div>
                  <div style="position: absolute; width: 52.5%; height: 80px;">
                    <div style="position: absolute; font-size: 13px; top: 1px; text-align: right; width: 168px; right: 0;">
                      <span style="font-weight: bold">{{item.item | uppercase}}</span>
                    </div>
                    <div style="position: absolute;top: 31px; font-size: 13px; text-align: right; width: 168px; right: 0;">
                      {{item.preco | currency:"R$"}}
                    </div>
                    <div style="position: absolute;top: 61px; font-size: 13px; text-align: right; width: 168px; right: 0;">
                      {{item.localizacao | uppercase}}
                    </div>
                  </div>
                </div>
                <div style="top: 4px;position: absolute;height: 80px; left: 58%;border-left: 1px solid #e4e4e4; padding-left: 5px;">
                  <div style="position: absolute;">
                    <span style="color: rgb(156, 155, 155); font-size: 11px;">DATA: </span>
                  </div>
                  <div style="position: absolute;top: 30px;">
                    <span style="color: rgb(156, 155, 155); font-size: 11px;">HORA: </span>
                  </div>
                  <div style="position: absolute;top: 60px;">
                    <span style="color: rgb(156, 155, 155); font-size: 11px;">TIPO: </span>
                  </div>
                </div>
                  <span style="display: none;">{{item.cor}}</span>
                  <div style="top: 4px;position: absolute; width: 133px; height: 80px; right:5px">
                      <div style="position: absolute; font-size: 13px; top: 1px; text-align: right; width: 130px;">
                        {{item.dia | date:'dd/MM/yy'}}
                      </div>
                      <div style="position: absolute;top: 31px; font-size: 13px; text-align: right; width: 130px;">
                        {{item.hora | date:'HH:mm'}}
                      </div>
                      <div style="position: absolute;top: 61px; font-size: 13px; text-align: right; width: 130px;">
                        {{item.gasto | uppercase}}
                      </div>
                    </div>
                <ion-option-button class="button-info" ng-click="deleteItem($index)">Excluir</ion-option-button>
                <ion-option-button class="button-fixed" ng-click="fixarItem(lista[$index], lista,listaFixa)">Fixar</ion-option-button>
              </ion-item>
            </ion-list>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>