<ion-view ng-init="init()" ng-cloak>
    <div class="bar bar-header bar-stable" ng-class="{'ajuste-header-android': platform == 'android'}" style="height: 73px;">

        <a style="z-index: 999; color: black;" ng-href="/#!/listaRelatorios">
            <div ng-class="{'ajuste-icon-modal-android' : platform == 'android'}" style="position: absolute; font-size: 25px; top: 34px; left: 10px;text-align: center; width: 30px; height: 25px;">
                <i class="icon ion-chevron-left"></i>
            </div>
        </a>
        <h1 class="title" style="margin-top: 22px;" ng-class="{'ajuste-title-android': platform == 'android'}">{{relatorioGeral.nomeRelatorio | uppercase}}</h1>
        <h1 class="title" style="margin-top: 39px; font-size: 10px; color: rgba(0,0,0,0.5)" ng-class="{'ajuste-title-android': platform == 'android'}">SALVO EM {{relatorioGeral.data | date:'dd/MM/yy'}}</h1>

    </div>
    <ion-content class="platform-ios" overflow-scroll="true">
        <div style="height: 71px;" ng-class="{'div-sumir' : platform == 'android'}">

        </div>
        <div style="height: 50px; width: 100%; background-color: #f8f8f8; border-bottom: 1px solid #ccc;">
            <div style="width: 25%;float: left;height: 100%; text-align: center; position: relative;" ng-click="mudancaTab('geral')"
                ng-class="{'activeMenuStat' : tabAtual == 'geral'}">
                <span style="position: absolute; top: 50%; transform: translate(-50%, -50%);left: 50%; font-size: 10px; line-height: 12px">RELATÓRIO
                    <br> GERAL</span>
            </div>
            <div style="width: 25%;float: left;height: 100%; text-align: center; position: relative;" ng-click="mudancaTab('cartao')"
                ng-class="{'activeMenuStat' : tabAtual == 'cartao'}">
                <span style="position: absolute; top: 50%; transform: translate(-50%, -50%);left: 50%; font-size: 10px; line-height: 12px">RELATÓRIO
                    <br> DO
                    <br> CARTÃO</span>
            </div>
            <div style="width: 25%;float: left;height: 100%; text-align: center; position: relative;" ng-click="mudancaTab('categorias')"
                ng-class="{'activeMenuStat' : tabAtual == 'categorias'}">
                <span style="position: absolute; top: 50%; transform: translate(-50%, -50%);left: 50%; font-size: 10px; line-height: 12px">RELATÓRIO
                    <br> POR
                    <br> CATEGORIAS</span>
            </div>
            <div style="width: 25%;float: left;height: 100%; text-align: center; position: relative;" ng-click="mudancaTab('cores')"
                ng-class="{'activeMenuStat' : tabAtual == 'cores'}">
                <span style="position: absolute; top: 50%; transform: translate(-50%, -50%);left: 50%; font-size: 10px; line-height: 12px">RELATÓRIO
                    <br> DAS
                    <br> CORES</span>
            </div>
        </div>
        <!-- 
            

            RELATÓRIO GERAL



        -->


        <div ng-if="tabAtual == 'geral'" style="width: calc(100vw - 20px); margin: 10px auto; height: 540px;">
            <div class="linha" style="width: 100%; position: relative">
                <div style="position: absolute;left: 0; width: calc(50% - 5px); height: 100px; background-color: #ececec; border-radius: 3px;">
                    <div style="position: absolute; font-size: 25px; left: 50%; top: 27px; transform: translate(-50%, 0%); text-align: center;">
                        {{relatorioGeral.qtdLista}}
                    </div>
                    <div style="font-size: 12px;position: absolute; width: 100%; bottom: 10px; left: 50%; color: black; transform: translate(-50%, 0%); text-align: center;">
                        ITENS ADICIONADOS</div>
                </div>
                <div style="position: absolute;right: 0; width: calc(50% - 5px); height: 100px; background-color: #ececec; border-radius: 3px;">
                    <div style="position: absolute; font-size: 25px; left: 50%; top: 27px; transform: translate(-50%, 0%); text-align: center;">
                        {{relatorioGeral.qtdListaFixa}}
                    </div>
                    <div style="font-size: 12px;position: absolute; width: 100%; bottom: 10px; left: 50%; color: black; transform: translate(-50%, 0%); text-align: center;">
                        ITENS FIXADOS</div>
                </div>
            </div>

            <div class="linha" style="width: 100%; position: relative; top: 110px;">
                <div style="position: absolute;left: 0; width: calc(50% - 5px); height: 100px; background-color: #ececec; border-radius: 3px;">
                    <div style="position: absolute; font-size: 25px; left: 50%; top: 27px; transform: translate(-50%, 0%); text-align: center;">
                        {{relatorioGeral.precoAdc | currency}}
                    </div>
                    <div style="font-size: 12px;line-height: 12px;position: absolute; width: 100%; bottom: 10px; left: 50%; color: black; transform: translate(-50%, 0%); text-align: center;">
                        PREÇO TOTAL DOS ITENS ADICIONADOS</div>
                </div>
                <div style="position: absolute;right: 0; width: calc(50% - 5px); height: 100px; background-color: #ececec; border-radius: 3px;">
                    <div style="position: absolute; font-size: 25px; left: 50%; top: 27px; transform: translate(-50%, 0%); text-align: center;">
                        {{relatorioGeral.precoFixados | currency}}
                    </div>
                    <div style="font-size: 12px;line-height: 12px;position: absolute; width: 100%; bottom: 10px; left: 50%; color: black; transform: translate(-50%, 0%); text-align: center;">
                        PREÇO TOTAL DOS ITENS FIXADOS</div>
                </div>
            </div>

            <div class="linha" style="width: 100%; position: relative; top: 220px;">
                <div style="position: absolute;left: 0; width: calc(60% - 5px); height: 100px; background-color: #387ef5; border-radius: 3px;">
                    <img src="img/dinheiro.png" style="position: absolute;opacity: 0.2; right: 5px;top: 5px;width: 80px;">
                    <div style="position: absolute; font-size: 25px; left: 10px; top: 50px;color: white;">
                        {{relatorioGeral.gastoTotalComDinheiro | currency}}
                    </div>
                    <div style="position: absolute; width: 100%; bottom: 10px; left: 10px; color: white;font-size: 11px; opacity: 0.8">
                        GASTO TOTAL EM DINHEIRO</div>
                </div>
                <div style="position: absolute;right: 0; width: calc(40% - 5px); height: 100px; background-color: #ececec; border-radius: 3px;">
                    <div style="position: absolute; font-size: 25px; left: 50%; top: 27px; color: black;transform: translate( -50%, 0%);text-align: center;">
                        {{relatorioGeral.porcComprasDinheiro | number:"2"}}
                        <span style="position: absolute;font-size: 15px; bottom: -3px; right: -15px">
                            %
                        </span>
                    </div>
                    <div style="line-height: 12px;position: absolute; width: 100%; bottom: 10px; left: 50%; color: black;transform: translate( -50%, 0%);font-size: 11px; opacity: 0.8;text-align: center;">
                        COMPRAS COM DINHEIRO</div>
                </div>
            </div>

            <div class="linha" style="width: 100%; position: relative; top: 330px;">
                <div style="position: absolute;left: 0; width: calc(40% - 5px); height: 100px; background-color: #ececec; border-radius: 3px;">
                    <div style="position: absolute; font-size: 25px; left: 50%; top: 27px; color: black;transform: translate( -50%, 0%);text-align: center;">
                        {{relatorioGeral.porcComprasCartao | number:"2"}}
                        <span style="position: absolute;font-size: 15px; bottom: -3px; right: -15px">
                            %
                        </span>
                    </div>
                    <div style="line-height: 12px;position: absolute; width: 100%; bottom: 10px; left: 50%; color: black;transform: translate( -50%, 0%);font-size: 11px; opacity: 0.8;text-align: center;">
                        COMPRAS COM CARTÃO</div>
                </div>
                <div style="position: absolute;right: 0; width: calc(60% - 5px); height: 100px; background-color: #387ef5; border-radius: 3px;">
                    <img src="img/cartao.png" style="position: absolute;opacity: 0.2; right: 5px;top: 5px;width: 80px;">
                    <div style="position: absolute; font-size: 25px; left: 10px; top: 50px;color: white;">
                        {{relatorioGeral.gastoTotalComCartao | currency}}
                    </div>
                    <div style="position: absolute; width: 100%; bottom: 10px; left: 10px; color: white;font-size: 11px; opacity: 0.8;">
                        GASTO TOTAL NO CARTÃO</div>
                </div>
            </div>

            <div class="linha" style="width: 100%; position: relative; top: 440px;">
                <div style="position: absolute;left: 0; width: 100%; height: 100px; background-color: #27ae60; border-radius: 3px;">
                    <img src="img/emLinha.png" style="position: absolute;opacity: 0.2; right: 10px;bottom: 0px;">
                    <div style="position: absolute; font-size: 25px; left: 10px; top: 50px;color: white;">
                        {{relatorioGeral.precoTotal | currency}}
                    </div>
                    <div style="position: absolute; width: 100%; bottom: 10px; left: 10px; color: white;font-size: 11px; opacity: 0.8;">
                        GASTO TOTAL</div>
                </div>
            </div>
        </div>
        <!-- 
            

            RELATÓRIO DO CARTÃO



        -->
        <div ng-if="tabAtual == 'cartao'" ng-repeat="item in relatoriosCartao" style="margin-top: 10px;">
            <div ng-if="item.guid == relatorioCartao" style="top: 0px;position: relative; height: 350px; width: 95vw; margin: 0 auto; border-radius: 5px;">
                <!-- <div style="position: absolute; top: 10px; left: 10px; font-size: 18px; color: {{item.corCartaoItem}};">{{item.nomeCartao}}</div> -->
                <div style="width: calc(100% - 20px);letter-spacing:2px; font-size: 12px; padding-bottom: 5px; margin: 0 auto; border-bottom: 1px solid {{item.corCartaoItem}}; color: {{item.corCartaoItem}};">
                    {{item.nomeCartao | uppercase}}
                </div>
                <div style="position: absolute; left: 10px; top: 35px; width: calc(60% - 15px); height: 100px; border-radius: 3px; background-color: {{item.corCartaoItem}}">
                    <img src="img/grafico.png" style="position: absolute;opacity: 0.2; right: 5px;width: 90px; bottom: 0;">
                    <div style="position: absolute; font-size: 25px; left: 10px; top: 50px;color: white;">
                        {{item.fatura | currency}}
                    </div>
                    <div style="position: absolute; width: 60%; bottom: 10px; left: 10px; color: white;font-size: 12px; opacity: 0.8">
                        FATURA</div>
                </div>
                <div style="position: absolute; right: 10px; top: 35px; width: calc(40% - 15px); height: 100px; background-color:#ececec; border-radius: 3px;">

                    <div style="position: absolute; font-size: 25px; left: 50%; top: 27px; transform: translate(-50%, 0%); text-align: center;">
                        {{item.porcentagemPrecoTotal | number:"2"}}
                        <span style="position: absolute;font-size: 15px; bottom: -3px; right: -15px">
                            %
                        </span>
                    </div>
                    <div style="position: absolute; width: 60%; bottom: 10px; left: 50%; transform: translate(-50%, 0%); text-align: center; color: {{item.corCartaoItem}};">
                        % DE USO</div>
                </div>
                <div style="margin: 0 auto;position: relative;top: 155px; width: calc(100% - 20px); height: 50px;">
                    <div class="barra" style="position: absolute; background-color:#b9b9b9; width: 100%; height: 15px; bottom: 0;">

                    </div>
                    <div class="ponteiroLimite" style="width: 100%; height: 80px; bottom: 0; position: absolute; border-right:1px solid  #6e6e6e;">
                        <div style="position: absolute; top: 0; right: 5px; font-size: 18px;">
                            {{item.limiteCartao | currency}}
                        </div>
                    </div>

                    <div ng-if="item.porcUso >= 50" class="ponteiroFatura" style=" height: 50px; bottom: 0; position: absolute; border-right: 1px solid #6e6e6e;width: {{item.porcUso}}%;">
                        <div style="position: absolute; top: 0; right: 5px; font-size: 18px;">
                            {{item.fatura | currency}}
                        </div>
                        <div style="position: absolute;top: 35px;width: 100%;">
                            <div class="barraitens" style="float: left; height: 15px; bottom: 0;width: 100%;background-color: {{item.corCartaoItem}};">

                            </div>
                        </div>
                    </div>

                    <div ng-if="item.porcUso < 50" class="ponteiroFatura" style="height: 50px; bottom: 0; position: absolute; border-right: 1px solid #6e6e6e; width: {{item.porcUso}}%;">
                        <div style="position: absolute; top: 0; left: 108%; font-size: 18px;">
                            {{item.fatura | currency}}
                        </div>
                        <div style="position: absolute;top: 35px;width: 100%;">
                            <div class="barraitens" style="float: left; height: 15px; bottom: 0;width: 100%;background-color: {{item.corCartaoItem}};">

                            </div>
                        </div>
                    </div>
                </div>
                <div style="position: absolute; left: 10px; top: 245px; width: calc(50% - 15px); height: 100px; background-color: #ececec; border-radius: 3px;">

                    <div style="position: absolute; font-size: 25px; left: 50%; top: 27px; transform: translate(-50%, 0%); text-align: center;">
                        {{item.contagemItemFixo}}
                    </div>
                    <div style="font-size: 11px;position: absolute; width: 90%; bottom: 10px; left: 50%; transform: translate(-50%, 0%); text-align: center; color: {{item.corCartaoItem}};">
                        ITENS FIXADOS</div>

                </div>
                <div style="position: absolute; right: 10px; top: 245px; width: calc(50% - 15px); height: 100px; background-color:#ececec; border-radius: 3px;">

                    <div style="position: absolute; font-size: 25px; left: 50%; top: 27px; transform: translate(-50%, 0%); text-align: center;">
                        {{item.contagemItem}}
                    </div>
                    <div style="font-size: 11px;position: absolute; width: 90%; bottom: 10px; left: 50%; transform: translate(-50%, 0%); text-align: center; color: {{item.corCartaoItem}};">
                        ITENS ADICIONADOS
                    </div>
                </div>
            </div>
        </div>

        <!-- 
            

            RELATÓRIO DAS CATEGORIAS



        -->
        <div ng-if="tabAtual == 'categorias'">
            <!-- <div ng-repeat="item in relatoriosCategoria" ng-if="item.guid == relatorioCartao">
                {{item.categoria}}
            </div> -->

            <div style="position: relative; width: calc(100vw - 10px); height: 670px; left: 50%; transform: translate(-50%, 0%); top: 10px;">
                <div style="width: calc(100% - 20px);letter-spacing:2px; font-size: 12px; padding-bottom: 5px; margin: 0 auto; border-bottom: 1px solid #e0e0e0;">
                    CATEGORIAS
                </div>
                <div style="position: relative; width: calc(100% - 10px); height: 70px; left: 50%; transform: translate(-50%, 0%); top: 10px;">
                    <i class="icon ion-arrow-up-b" style="position: absolute; right: 1px;bottom: 10px"></i>
                    <span style="position: absolute; right: 1px;bottom: -5px; font-size: 18px">{{relatorioGeral.precoTotal | currency}}</span>

                    <div style="width: calc(100% - 10px); height: 30px; background-color: gray;position: relative; left: 50%; transform: translate(-50%, 0%); top: 10px; border-radius: 3px; overflow: hidden;border: 1px solid black;">
                        <!-- <div style="height: 30px;">
                            <div ng-repeat="item in relatoriosCategoria" ng-if="item.guid == relatorioCartao" ng-click="mudancaCategoria(item.categoria, item.corIten)"
                                style="display:inline-block;height: 30px;border: 0.5px solid black; position: relative; width: {{item.porcentoPreco}}%; background-color: {{item.corIten}};">

                            </div>
                        </div> -->
                        <table style="width: 102%;margin-left: -2px;height: 38px;margin-top: -1px;">
                            <tr>
                                <td ng-repeat="item in relatoriosCategoria track by $index" ng-if="item.guid == relatorioCategoria" ng-click="mudancaCategoria(item.categoria, item.corIten)"
                                    style="width: {{item.porcentoPreco}}%; background-color: {{item.corIten}}; height: 30px;">
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="width: calc(100% - 20px); margin: 40px auto 0">
                    <div ng-repeat="item in relatoriosCategoria track by $index" ng-if="item.guid == relatorioCartao" ng-click="mudancaCategoriaLista(item.categoria, item.corIten)"
                        ng-class="{'activeCat' : categoriaAtual == item.categoria, 'desactiveCat' : categoriaAtual != 'todos'}"
                        style="height: 35px; width: 100%; border-bottom: 1px solid #e0e0e0;transition: 0.5s;position: relative;">
                        <div style="float: left; margin-top: 7.5px;left:0; color: {{item.corIten}}">
                            <!-- <img ng-src="img/icon/{{item.icon}}" style="height: 15px;position: absolute;left: 15px;"> -->
                            {{item.categoria | uppercase}}</div>
                            <span style=" position: absolute; font-size: 43px; bottom: 7px;right: 65px; opacity: 0.2; color: {{item.corIten}}; ">
                                {{item.porcentoPreco}}
                            </span>
                            
                        <span style="position: absolute;font-size: 20px;right:50px;opacity: 0.2;bottom: 0px; color: {{item.corIten}};">
                                %
                            </span>
                        <div style="float: right; margin-top: 7.5px;right: 0; color: {{item.corIten}}">{{item.precoTotal | currency}}</div>

                    </div>
                </div>
                <div style="width: calc(100% - 20px);letter-spacing:2px; font-size: 12px; padding-bottom: 5px; border-bottom: 1px solid #e0e0e0; margin: 20px auto 0; ">
                    MAIS INFORMAÇÕES
                    <div ng-if="categoriaAtual != 'todos'" style="float: right;letter-spacing:0px; color: {{corAtual}}" ng-click="desfazerMudancaCategoria()">
                        {{categoriaAtual | uppercase}}
                        <i class="icon ion-close" style="margin-left: 5px;"></i>
                    </div>
                </div>


                <div ng-if="categoriaAtual == 'todos'" style="text-align: center; margin-top: 15px; color: rgb(156, 155, 155);">
                    Selecione uma categoria
                </div>

                <div ng-repeat="item in relatoriosCategoria track by $index" ng-if="item.guid == relatorioCartao">
                    <div ng-if="categoriaAtual == item.categoria" class="linha" style="width: 100%; position: relative; top: 10px;">
                        <div style="position: absolute;left: 10px; width: calc(50% - 15px); height: 100px; background-color: #ececec; border-radius: 3px;">
                            <div style="position: absolute; font-size: 25px; left: 50%; top: 27px; transform: translate(-50%, 0%); text-align: center;">
                                {{item.itensAdicionados}}
                            </div>
                            <div style="font-size: 12px;position: absolute; width: 100%; bottom: 10px; left: 50%; color: black; transform: translate(-50%, 0%); text-align: center; color: {{corAtual}}">
                                ITENS ADICIONADOS</div>
                        </div>
                        <div style="position: absolute;right: 10px; width: calc(50% - 15px); height: 100px; background-color: #ececec; border-radius: 3px;">
                            <div style="position: absolute; font-size: 25px; left: 50%; top: 27px; transform: translate(-50%, 0%); text-align: center;">
                                {{item.itensFixados}}
                            </div>
                            <div style="font-size: 12px;position: absolute; width: 100%; bottom: 10px; left: 50%; color: black; transform: translate(-50%, 0%); text-align: center; color: {{corAtual}}">
                                ITENS FIXADOS</div>
                        </div>
                    </div>
                    <div ng-if="categoriaAtual == item.categoria" class="linha" style="width: 100%; position: relative; top: 120px;">
                        <div style="position: absolute;left: 10px; width: calc(50% - 15px); height: 100px; background-color: #ececec; border-radius: 3px;">
                            <div style="position: absolute; font-size: 25px; left: 50%; top: 27px; transform: translate(-50%, 0%); text-align: center;">
                                {{item.porcentoItens | number:"2"}}
                                <span style="position: absolute;font-size: 15px; bottom: -3px; right: -15px">
                                    %
                                </span>
                            </div>
                            <div style="font-size: 12px;position: absolute; width: 100%; bottom: 10px; left: 50%; color: black; transform: translate(-50%, 0%); text-align: center; color: {{corAtual}}">
                                PORCENTAGEM DOS ITENS</div>
                        </div>
                        <div style="position: absolute;right: 10px; width: calc(50% - 15px); height: 100px; background-color: #ececec; border-radius: 3px;">
                            <div style="position: absolute; font-size: 25px; left: 50%; top: 27px; transform: translate(-50%, 0%); text-align: center;">
                                {{item.porcentoPreco | number:"2"}}
                                <span style="position: absolute;font-size: 15px; bottom: -3px; right: -15px">
                                    %
                                </span>
                            </div>
                            <div style="font-size: 12px;position: absolute; width: 100%; bottom: 10px; left: 50%; color: black; transform: translate(-50%, 0%); text-align: center; color: {{corAtual}}">
                                PORCENTAGEM DO PREÇO</div>
                        </div>
                    </div>
                    <div ng-if="categoriaAtual == item.categoria" class="linha" style="width: 100%; position: relative; top: 230px;">
                        <div style="position: absolute;left: 10px; width: calc(100% - 20px); height: 100px; background-color: #ececec; border-radius: 3px; background-color:{{corAtual}}">
                            <!-- <div style="position: absolute; font-size: 25px; left: 50%; top: 27px; transform: translate(-50%, 0%); text-align: center;">
                                {{item.precoTotal | currency}}
                            </div>
                            <div style="font-size: 12px;position: absolute; width: 100%; bottom: 10px; left: 50%; color: black; transform: translate(-50%, 0%); text-align: center;">
                                PREÇO TOTAL</div> -->
                            <img src="img/graph.png" style="position: absolute;opacity: 0.2; right: 10px;bottom: 0px; height: 87px;">
                            <div style="position: absolute; font-size: 25px; left: 10px; top: 50px;color: white;">
                                {{item.precoTotal | currency}}
                            </div>
                            <div style="position: absolute; width: 100%; bottom: 10px; left: 10px; color: white;font-size: 11px; opacity: 0.8;">
                                PREÇO TOTAL</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 
            

            RELATÓRIO DAS CORES



        -->

        <div ng-if="tabAtual == 'cores'">
            <div style="width: calc(100% - 30px);letter-spacing:2px; font-size: 12px; padding-bottom: 5px; margin: 10px auto; border-bottom: 1px solid #e0e0e0;">
                CORES
            </div>
            <div style="position: relative;height: 280px; width: calc(100vw - 30px); margin: -10px auto;">
                <div style="height: 250px; position: absolute;top: 15px; width: calc(100% - 50px);">
                    <div ng-class="{'activeCor' : statCorAtual == item.corDigitada, 'desactiveCor' : statCorAtual != 'todas'}" style="overflow: hidden;position: relative;transition: 0.5s;width:100%; margin-top: 2px; background-color: {{item.cor}}; height: 48px; padding: 15px;color:white; border-radius: 2px;"
                        ng-repeat="item in relatoriosCor track by $index" ng-if="item.guid == relatorioCor" ng-click="mudancaCor(item.corDigitada, item.cor)">
                        {{item.corDigitada | uppercase}}
                        <span style="float: right;">{{item.precoTotal | currency}}</span>
                        <span style="position: absolute; right: 85px; font-size: 56px; opacity: 0.3">
                            {{item.porcentoPreco}}
                        </span>
                        <span style="position: absolute;font-size: 25px;right:65px;opacity: 0.3;top: 27px;">
                            %
                        </span>
                    </div>
                </div>
            </div>
            <div style="background-color:#cecece; height: 248px; position: absolute;top: 174px; right: 15px; width: 38px; border-radius: 3px; border: 1px solid black; overflow: hidden;">
                <table style="height: 101%; margin-top: -1px; width: 40px; margin-left: -1px;">
                    <tr ng-repeat="item in relatoriosCor track by $index" ng-if="item.guid == relatorioCor">
                        <td style="height: {{item.porcentoPreco}}%; background-color:{{item.cor}};width: 38px;" ng-click="mudancaCor(item.corDigitada, item.cor)">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width: calc(100% - 30px);letter-spacing:2px; font-size: 12px; padding-bottom: 5px; margin: 10px auto; border-bottom: 1px solid #e0e0e0;">
                MAIS INFORMAÇÕES
                <div ng-if="statCorAtual != 'todas'" style="float: right;letter-spacing:0px; color: {{corItem}}" ng-click="desfazerMudancaCor()">
                    {{statCorAtual | uppercase}}
                    <i class="icon ion-close" style="margin-left: 5px;"></i>
                </div>
            </div>
            <div class="categorias das cores">
                <div ng-repeat="item in relatoriosCor track by $index" ng-if="item.corDigitada == statCorAtual && item.guid == relatorioCor && item.contagemTipoCafe > 0"
                    style="width: calc(100% - 30px); height: 25px; position: relative; margin: 0 auto; border-bottom: 1px solid #ccc">
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%)">CAFÉ </span>
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%); right: 0;">{{item.contagemTipoCafe}} </span>
                </div>
                <div ng-repeat="item in relatoriosCor track by $index" ng-if="item.corDigitada == statCorAtual && item.guid == relatorioCor && item.contagemTipoCinema > 0"
                    style="width: calc(100% - 30px); height: 25px; position: relative; margin: 0 auto; border-bottom: 1px solid #ccc">
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%)">CINEMA </span>
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%); right: 0;">{{item.contagemTipoCinema}} </span>
                </div>
                <div ng-repeat="item in relatoriosCor track by $index" ng-if="item.corDigitada == statCorAtual && item.guid == relatorioCor && item.contagemTipoEssencial > 0"
                    style="width: calc(100% - 30px); height: 25px; position: relative; margin: 0 auto; border-bottom: 1px solid #ccc">
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%)">ESSENCIAL </span>
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%); right: 0;">{{item.contagemTipoEssencial}} </span>
                </div>
                <div ng-repeat="item in relatoriosCor track by $index" ng-if="item.corDigitada == statCorAtual && item.guid == relatorioCor && item.contagemTipoInfantil > 0"
                    style="width: calc(100% - 30px); height: 25px; position: relative; margin: 0 auto; border-bottom: 1px solid #ccc">
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%)">INFANTIL </span>
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%); right: 0;">{{item.contagemTipoInfantil}} </span>
                </div>
                <div ng-repeat="item in relatoriosCor track by $index" ng-if="item.corDigitada == statCorAtual && item.guid == relatorioCor && item.contagemTipoLanche > 0"
                    style="width: calc(100% - 30px); height: 25px; position: relative; margin: 0 auto; border-bottom: 1px solid #ccc">
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%)">LANCHE </span>
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%); right: 0;">{{item.contagemTipoLanche}} </span>
                </div>
                <div ng-repeat="item in relatoriosCor track by $index" ng-if="item.corDigitada == statCorAtual && item.guid == relatorioCor && item.contagemTipoLazer > 0"
                    style="width: calc(100% - 30px); height: 25px; position: relative; margin: 0 auto; border-bottom: 1px solid #ccc">
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%)">LAZER </span>
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%); right: 0;">{{item.contagemTipoLazer}} </span>
                </div>
                <div ng-repeat="item in relatoriosCor track by $index" ng-if="item.corDigitada == statCorAtual && item.guid == relatorioCor && item.contagemTipoMercado > 0"
                    style="width: calc(100% - 30px); height: 25px; position: relative; margin: 0 auto; border-bottom: 1px solid #ccc">
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%)">MERCADO </span>
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%); right: 0;">{{item.contagemTipoMercado}} </span>
                </div>
                <div ng-repeat="item in relatoriosCor track by $index" ng-if="item.corDigitada == statCorAtual && item.guid == relatorioCor && item.contagemTipoPresente > 0"
                    style="width: calc(100% - 30px); height: 25px; position: relative; margin: 0 auto; border-bottom: 1px solid #ccc">
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%)">PRESENTE </span>
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%); right: 0;">{{item.contagemTipoPresente}} </span>
                </div>
                <div ng-repeat="item in relatoriosCor track by $index" ng-if="item.corDigitada == statCorAtual && item.guid == relatorioCor && item.contagemTipoRestaurante > 0"
                    style="width: calc(100% - 30px); height: 25px; position: relative; margin: 0 auto; border-bottom: 1px solid #ccc">
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%)">RESTAURANTE </span>
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%); right: 0;">{{item.contagemTipoRestaurante}} </span>
                </div>
                <div ng-repeat="item in relatoriosCor track by $index" ng-if="item.corDigitada == statCorAtual && item.guid == relatorioCo && item.contagemTipoRoupa > 0"
                    style="width: calc(100% - 30px); height: 25px; position: relative; margin: 0 auto; border-bottom: 1px solid #ccc">
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%)">ROUPA </span>
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%); right: 0;">{{item.contagemTipoRoupa}} </span>
                </div>
                <div ng-repeat="item in relatoriosCor track by $index" ng-if="item.corDigitada == statCorAtual && item.guid == relatorioCor && item.contagemTipoTransporte > 0"
                    style="width: calc(100% - 30px); height: 25px; position: relative; margin: 0 auto; border-bottom: 1px solid #ccc">
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%)">TRANSPORTE </span>
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%); right: 0;">{{item.contagemTipoTransporte}} </span>
                </div>
                <div ng-repeat="item in relatoriosCor track by $index" ng-if="item.corDigitada == statCorAtual && item.guid == relatorioCor && item.contagemTipoUtilitarios > 0"
                    style="width: calc(100% - 30px); height: 25px; position: relative; margin: 0 auto; border-bottom: 1px solid #ccc">
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%)">UTILITÁRIOS </span>
                    <span style="position: absolute; top: 50%; transform: translate(0%, -50%); right: 0;">{{item.contagemTipoUtilitarios}} </span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>